[submodule "SyzygyGlyphish"]
	path = Glyphish/Sources
	url = git@github.com:davedelong/SyzygyGlyphish.git
[submodule "DifferenceKit"]
	path = DifferenceKit
	url = https://github.com/ra1028/DifferenceKit.git
