//
//  Syzygy-Conditionals.xcconfig
//  Syzygy
//
//  Created by Dave DeLong on 7/24/18.
//  Copyright © 2018 Syzygy. All rights reserved.
//

// Desktop vs Mobile
SYZ_HARDWARE = BUILDING_FOR_MOBILE
SYZ_HARDWARE[sdk=mac*] = BUILDING_FOR_DESKTOP
SYZ_HARDWARE_GCC = BUILDING_FOR_MOBILE=1 BUILDING_FOR_DESKTOP=0
SYZ_HARDWARE_GCC[sdk=mac*] = BUILDING_FOR_MOBILE=0 BUILDING_FOR_DESKTOP=1

// Device vs Simulator
SYZ_DEVICE = BUILDING_FOR_DEVICE
SYZ_DEVICE[sdk=*simulator] = BUILDING_FOR_SIMULATOR
SYZ_DEVICE_GCC = BUILDING_FOR_DEVICE=1 BUILDING_FOR_SIMULATOR=0
SYZ_DEVICE_GCC[sdk=*simulator] = BUILDING_FOR_DEVICE=0 BUILDING_FOR_SIMULATOR=1

// Various mobile platforms
SYZ_PLATFORM =
SYZ_PLATFORM[sdk=mac*] = BUILDING_FOR_MAC
SYZ_PLATFORM[sdk=iphone*] = BUILDING_FOR_IOS
SYZ_PLATFORM[sdk=appletv*] = BUILDING_FOR_TV
SYZ_PLATFORM[sdk=watch*] = BUILDING_FOR_WATCH

SYZ_PLATFORM_GCC = BUILDING_FOR_MAC=0 BUILDING_FOR_IOS=0 BUILDING_FOR_TV=0 BUILDING_FOR_WATCH=0
SYZ_PLATFORM_GCC[sdk=mac*] = BUILDING_FOR_MAC=1 BUILDING_FOR_IOS=0 BUILDING_FOR_TV=0 BUILDING_FOR_WATCH=0
SYZ_PLATFORM_GCC[sdk=iphone*] = BUILDING_FOR_MAC=0 BUILDING_FOR_IOS=1 BUILDING_FOR_TV=0 BUILDING_FOR_WATCH=0
SYZ_PLATFORM_GCC[sdk=appletv*] = BUILDING_FOR_MAC=0 BUILDING_FOR_IOS=0 BUILDING_FOR_TV=1 BUILDING_FOR_WATCH=0
SYZ_PLATFORM_GCC[sdk=watch*] = BUILDING_FOR_MAC=0 BUILDING_FOR_IOS=0 BUILDING_FOR_TV=0 BUILDING_FOR_WATCH=1

// App vs Extension

_SYZ_EXTENSION_YES = BUILDING_FOR_EXTENSION
_SYZ_EXTENSION_NO = BUILDING_FOR_APP
SYZ_EXTENSION = $(_SYZ_EXTENSION_$(APPLICATION_EXTENSION_API_ONLY))

_SYZ_EXTENSION_GCC_YES = 1
_SYZ_EXTENSION_GCC_NO = 0
_SYZ_APP_GCC_YES = 0
_SYZ_APP_GCC_NO = 1
SYZ_EXTENSION_GCC = BUILDING_FOR_EXTENSION=$(_SYZ_EXTENSION_GCC_$(APPLICATION_EXTENSION_API_ONLY)) BUILDING_FOR_APP=$(_SYZ_APP_GCC_$(APPLICATION_EXTENSION_API_ONLY))

// Bring it all together

SYZYGY_CONDITIONALS = $(SYZ_HARDWARE) $(SYZ_DEVICE) $(SYZ_PLATFORM) $(SYZ_EXTENSION) $(SYZ_APP)
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) $(SYZYGY_CONDITIONALS)

SYZYGY_CONDITIONALS_GCC = $(SYZ_HARDWARE_GCC) $(SYZ_DEVICE_GCC) $(SYZ_PLATFORM_GCC) $(SYZ_EXTENSION_GCC) $(SYZ_APP_GCC)
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(SYZYGY_CONDITIONALS_GCC)
